langchain
langchain-openai
langchain-community
langchain-qdrant
qdrant-client
neo4j
pypdf
pytesseract
pdf2image
unstructured
streamlit
python-dotenv
openai
tiktoken
sentence-transformers
pandas
numpy
tabulate
rapidocr-onnxruntime
python-multipart
pillow